<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
      <label for="teamName">Team Name</label>
      <input type="text" id= "teamName" name="teamName">
      
      <label for="coach">Coach</label>
      <input type="text" id= "coach" name="coach">      
      
      <label for="pg">Point Guard</label>
      <input type="text" id= "pg" name="pg">
      
      <label for="sg">Shooting Guard</label>
      <input type="text" id= "sg" name="sg">

      <label for="sf">Small Forward</label>
      <input type="text" id= "sf" name="sf">
      
      <label for="pf">Power Forward</label>
      <input type="text" id= "pf" name="pf">
      
      <label for="center">Center</label>
      <input type="text" id= "center" name="center">
      
      <input type="submit">
    </form>
   
 </body>
</html>


