<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
   <h2><%= @all[0]%></h2>
    <% @all.each do |line| %>
        <h3><%= line %></h3>
    <% end %>
 </body>
</html>


